div p {
    color: brown;
}

button {
    width: 17sd0px;
    height: 40px;
    font-size: 15px;
    border-radius: 12px;
    font-weight: bold;
    background-color: rgb(61, 3, 115);
    color: white;
    border: 1px solid gray;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1) translateY(10px);
    background-color: rgb(115, 101, 115);
}