body {
    background-color: black;
    color: grey;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.joao {
    margin-top: 40px;
    font-size: 30px;
}

.seila {
    display: block;
    margin: 0 auto;
    height: 320px;
    width: 520px;
    border: 3px solid gray; 
}